@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Press+Start+2P&family=Roboto:wght@100;300;400;500;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
p {
    background-color: #158CBA;
    color:aliceblue;
    text-align: center;
    padding: 20px 10px;

}
#parrafoId {
    background-color: #98FB98;
    color: #2e8b57;
    font-family: 'Press Start 2P', cursive;;
    text-align: left;    
}
.parrafoClass {
    background-color: #FFDAB9;
    color: #c71585;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-align: right;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}